<p>solspy page</p>

<%= form_with(url: query_login_page_path(@global), method: :put, remote: true) do |form| %>
  <div>
    <%= form.label :login, style: "display: block" %>
    <%= form.text_field :login %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<h3>login: </h3>
<%= params[:login] %><br>

<table>
<tr>
  <th>hole</th>
  <th>lang</th>
  <th>points</th>
</tr>
<% @hole_points.where(lid: params[:lid]).sort_by{|hole| -hole.score_best}.each do |solution| %>
<tr>
  <td><%= solution.hole%></td>
  <td><%=solution.lang_best %></td>
  <td><%=solution.score_best %></td>
</tr>
<% end %>
</table>